<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDA - Youtube Video Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="{{ url_for('static', filename='tailwindcss.js') }}"></script>

    <style>
        #barChart {
            width: 50vw; /* 50% of viewport width */
            height: 50vh; /* 50% of viewport height */
        }
    </style>
</head>

<body class="py-10 bg-white">
    <div class="mx-10">
        <!-- nav bar -->
        <div class="grid grid-cols-3 gap-4">
            <a href="/dataset"><div class="text-center text-2xl font-bold text-red-500 py-2">BDA - Youtube Video Analysis</div></a>

            <div class="flex justify-end col-span-2">
                <a href="/dataset">
                    <div class="text-xl text-gray-500 px-4 py-2 shadow-lg rounded border border-gray-400 hover:bg-gray-200 mx-4"><i class="fa-solid fa-database mx-2"></i>Dataset View</div>
                </a>

                <a href="/channel">
                    <div class="text-xl text-gray-500 px-4 py-2 shadow-lg rounded border border-gray-400 hover:bg-gray-200 mx-4"><i class="fa-brands fa-youtube mx-2"></i>Channel View</div>
                </a>
                    
                <a href="https://github.com/capstone-project-SECURIX/Youtube-Video-Analysis.git" target="_blank">
                    <div class="text-xl text-gray-500 px-4 py-2 shadow-lg rounded border border-gray-400 hover:bg-gray-200 mx-4"><i class="fa-brands fa-github mx-2"></i>Github</div>
                </a>

                <a href="https://www.kaggle.com/code/mrappplg/youtube-trending-videos-analysis" target="_blank">
                    <div class="text-xl text-gray-500 px-4 py-2 shadow-lg rounded border border-gray-400 hover:bg-gray-200 mx-4"><i class="fa-brands fa-kaggle mx-2"></i>aggle</div>
                </a>

                <a href="/rlang">
                    <div class="text-xl text-gray-500 px-4 py-2 shadow-lg rounded border border-gray-400 hover:bg-gray-200 mx-4"><i class="fa-brands fa-r-project mx-2"></i>Code</div>
                </a>
            </div>
        </div>

{% block content %}{% endblock %}

        


    </div>
    
</body>
</html>





